<h1 class='title'>Welcome to Retro</h1>

<div class='box'>
  <% if user_signed_in? %>
    <p>Logged in as <strong><%= current_user.email %></strong></p>
    <p> <%= link_to 'See all boards', boards_path %></p>
    <p class='has-text-right'> <%= link_to 'Logout', destroy_user_session_path, method: :delete %></p>
  <% else %>
    <%= link_to 'Sign up', new_user_registration_path%> |
    <%= link_to 'Login', new_user_session_path  %> |
    <%= link_to 'Sign up with GitHub', user_github_omniauth_authorize_path %>
  <% end %>
</div>
