<%= form_with(model: board, local: true) do |form| %>
  <% if board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% board.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class='field'>
    <%= form.text_field :title, class: 'input' %>
  </div>
  <div class='field'>
    <%= form.check_box :private%>
    <%= form.label(:private, 'Make board private')%>
  </div>

  <% @board.column_names.each_with_index do |name, index| %>
    <div class='field'>
      <%= form.label(:private, "The #{(index+1).ordinalize} column name")%>
      <%= form.text_field :column_names, class: 'input', multiple: true, value: name %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
