<%= javascript_pack_tag 'application'%>
<div class='box'>
  <h1>Editing Board</h1>
</div>
<div class='box'>
<% if allowed_to?(:update?, @board) %>
  <%= render 'form', board: @board %>
<% end %>
</div>

<% if allowed_to?(:invite?, @board) %>
  <div class='box'>
    <%= react_component 'invite_block_container'%>
  </div>
<% end %>

<%= link_to 'Board page', @board %> |
<%= link_to 'Boards menu', boards_path %>
