<div class='box has-text-centered'>
  <div class='level'>

    <div class='level-item has-text-centered'>
      <h1 class='title'>
        <%= @board.title %>
      </h1>
    </div>

    <div class='level-right'>
      <% if !current_user %>
        <%= link_to 'Sign up to Join', new_user_session_path, class: 'button is-large' %>
      <% elsif @board.memberships.exists?(user_id: current_user.id) %>
        <%= link_to 'READY', url_for, class: 'button is-large' %>
      <% else %>
        <%= link_to 'Join', board_memberships_path(board_id: @board.id), method: :post, class: 'button is-large' %>
      <% end %>
    </div>

  </div>
</div>
<!-- <% @board.memberships.each do |member| %>
<p> <%= member.user.email %>, <%= member.role %></p>
<% end  %> -->
<div class="box" id='autocomplete'>
<!--   <%# render 'memberships/form', membership: @membership %> -->
  <% content_for :scripts do %>
  <%= javascript_pack_tag 'autocomplete' %>
  <% end %>
</div>

<div class='columns'>
  <% @cards_by_type.each do |kind, cards| %>
    <div class='column'>
      <h2 class='subtitle'>
        <%= kind.upcase %>
      </h2>
      <div class='box'>
        <%= render 'cards/form', card: @board.cards.build(kind: kind) %>  
      </div>
      <% cards.each do |card| %>
        <div class='box'>
          <p> <%= card.body %> </p>
          <% if card.author.avatar.url %>
          <figure class='image is-32x32'>
            <%= image_tag(card.author.avatar.url(:thumb), class: 'is-rounded') %>
          </figure>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class='column'>
    <h2 class='subtitle'>
      ACTION ITEMS
    </h2>
    <div class='box'>
      <%= render 'action_items/form', action_item: @action_item %>
    </div>
    <% @action_items.each do |action_item| %>
      <div class='box'>
        <%= action_item.body %>
      </div>
    <% end %>
  </div>

</div>
