<% content_for :scripts do %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>

  <%= javascript_pack_tag 'ready_button_component' %>
  <% if allowed_to?(:invite?, @board, with: API::BoardPolicy) %>
    <%= javascript_pack_tag 'autocomplete' %>
  <% end %>
<% end %>

<div class='box has-text-centered'>
  <div class='level'>

    <div class='level-item has-text-centered'>
      <h1 class='title'>
        <%= @board.title %>
      </h1>
    </div>

    <div class='level-right'>
      <% if !current_user %>
        <%= link_to 'Sign up to Join', new_user_session_path, class: 'button is-large' %>
      <% elsif @board.memberships.exists?(user_id: current_user.id) %>
        <div id='ready-button'></div>
      <% else %>
        <%= link_to 'Join', board_memberships_path(board_slug: @board.slug), method: :post, class: 'button is-large' %>
      <% end %>
    </div>

  </div>
</div>

<div class="box" id='autocomplete'></div>

<% if @previous_action_items %>
  <% column_class_name = 'column is-one-fifth' %>
<% else %>
  <% column_class_name = 'column is-one-quarter' %>
<% end %>

<div class='columns'>
  <% if @previous_action_items %>
    <div class='<%= column_class_name %>'>
      <h2 class='subtitle'>
       PREVIOUS BOARD
      </h2>
      <% @previous_action_items.each do |action_item| %>
        <%= react_component('ActionItem/index', {
              id: action_item.id,
              body: action_item.body,
              status: action_item.status,
              times_moved: action_item.times_moved,
              movable: allowed_to?(:move?, action_item, with: API::ActionItemPolicy, context: { board: @board }),
              transitionable: {
                can_close: allowed_to?(:close?, action_item, with: API::ActionItemPolicy, context: { board: @board }),
                can_complete: allowed_to?(:complete?, action_item, with: API::ActionItemPolicy, context: { board: @board }),
                can_reopen: allowed_to?(:reopen?, action_item, with: API::ActionItemPolicy, context: { board: @board })
              }
            })
        %>
      <% end %>
    </div>
  <% end %>
  <% @cards_by_type.each do |kind, cards| %>
    <div class='<%= column_class_name %>'>
      <h2 class='subtitle'>
        <%= kind.upcase %>
      </h2>
      <div class='box'>
        <%= render 'cards/form', card: @board.cards.build(kind: kind) %>
      </div>

      <% cards.each do |card| %>
        <%= react_component('Card/index', {
              id: card.id,
              author: card.author.email.split('@').first,
              avatar: card.author.avatar.url(:thumb),
              body: card.body,
              likes: card.likes,
              type: kind,
              editable: allowed_to?(:update?, card, with: API::CardPolicy),
              deletable: allowed_to?(:destroy?, card, with: API::CardPolicy)
            })
        %>
      <% end %>
    </div>
  <% end %>

  <div class='<%= column_class_name %>'>
    <h2 class='subtitle'>
      ACTION ITEMS
    </h2>
    <div class='box'>
      <%= render 'action_items/form', action_item: @action_item %>
    </div>
      <%  @action_items.each do |action_item| %>
        <%= react_component('ActionItem/index', {
              id: action_item.id,
              body: action_item.body,
              times_moved: action_item.times_moved,
              editable: allowed_to?(:update?, action_item, with: API::ActionItemPolicy, context: { board: @board }),
              deletable: allowed_to?(:destroy?, action_item, with: API::ActionItemPolicy, context: { board: @board })
            })
        %>
      <% end %>
  </div>

</div>
