<% content_for :scripts do %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <% if allowed_to?(:create_cards?, @board) %>
    <%= javascript_pack_tag 'ready_button' %>
  <% end %>

<% end %>

<div class='box has-text-centered'>
  <div class='level'>
  <%if allowed_to?(:edit?, @board)%>
    <div id='settings-button'>
       <%= link_to "Settings", edit_board_path(@board), class: 'button is-large' %>
    </div>
  <%end%>

    <div class='level-item has-text-centered'>
      <h1 class='title'>
        <%= @board.title %>
      </h1>
    </div>
    <div class='level-right'>
      <% if !current_user %>
        <%= link_to 'Sign in with Alfred', user_alfred_omniauth_authorize_path, class: 'button is-large' %>
      <% elsif allowed_to?(:create_cards?, @board) %>
        <div id='ready-button'></div>
      <% else %>
        <%= link_to 'Join', board_memberships_path(board_slug: @board.slug), method: :post, class: 'button is-large' %>
      <% end %>
    </div>

  </div>
</div>

<% if allowed_to?(:invite?, @board) %>
  <div class="box">
    <%= react_component('membership_list_container')%>
  </div>
<% end %>

<% if @previous_action_items %>
  <% column_class_name = 'column is-one-fifth' %>
<% else %>
  <% column_class_name = 'column is-one-quarter' %>
<% end %>

<%= react_component('card_table', {
              actionItems: @action_items,
              board: @board,
              cardsByType: @cards_by_type,
              creators: @board_creators,
              initPrevItems: @previous_action_items || [],
              user: current_user&.email,
              users: @users
            })
%>

</div>
