<h1><%= @board.title %></h1>

<div class="columns">
  <% @cards_by_type.each do |kind, cards| %>
    <div class='column'>
      <h2><%= kind.upcase %></h2>
      <% cards.each do |card| %>
        <div class="message">
          <div class="message-body">
            <%= card.body %>
          </div>
        </div>
      <% end %>
    <%= render 'cards/form', card: @board.cards.build(kind: kind) %>
    </div>
  <% end %>

  <div class="column">
    <h2>ACTION ITEMS</h2>
    <% @action_items.each do |action_item| %>
        <div class="message is-dark">
          <div class="message-body">
            <%= action_item.body %>
          </div>
        </div>
    <% end %>
  <%= render 'action_items/form', action_item: @board.action_items.build %>
  </div>
</div>
