<% content_for :scripts do %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>

  <%= javascript_pack_tag 'ready_button_component' %>
  <% if allowed_to?(:invite?, @board, with: API::BoardPolicy) %>
    <%= javascript_pack_tag 'autocomplete' %>
  <% end %>

<% end %>

<div class='box has-text-centered'>
  <div class='level'>

    <div class='level-item has-text-centered'>
      <h1 class='title'>
        <%= @board.title %>
      </h1>
    </div>

    <div class='level-right'>
      <% if !current_user %>
        <%= link_to 'Sign up to Join', new_user_session_path, class: 'button is-large' %>
      <% elsif @board.memberships.exists?(user_id: current_user.id) %>
        <div id='ready-button'></div>
      <% else %>
        <%= link_to 'Join', board_memberships_path(board_slug: @board.slug), method: :post, class: 'button is-large' %>
      <% end %>
    </div>

  </div>
</div>
<!-- <p>Current user: <%= current_user.email if current_user%> </p>
<% @board.memberships.each do |member| %>
  <p> <%= member.user.email %>, <%= member.role %></p>
<% end  %> -->
<div class="box" id='autocomplete'>
</div>

<div class='columns'>
  <% if @previous_action_items %>
    <div class='column'>
      <h2 class='subtitle'>
       PREVIOUS BOARD
      </h2>
      <% @previous_action_items.each do |action_item| %>
        <%= render 'previous_action_item', action_item: action_item %>
      <% end %>
    </div>
  <% end %>
  <% @cards_by_type.each do |kind, cards| %>
    <div class='column'>
      <h2 class='subtitle'>
        <%= kind.upcase %>
      </h2>
      <div class='box'>
        <%= render 'cards/form', card: @board.cards.build(kind: kind) %>
      </div>

      <% cards.each do |card| %>
        <%= react_component('Card/index', { 
              id: card.id,
              author: card.author.email.split('@').first,
              avatar: card.author.avatar.url(:thumb),
              body: card.body,
              editable: allowed_to?(:update?, card, with: API::CardPolicy),
              deletable: allowed_to?(:destroy?, card, with: API::CardPolicy) 
            }) 
        %>
      <% end %>
    </div>
  <% end %>

  <div class='column'>
    <h2 class='subtitle'>
      ACTION ITEMS
    </h2>
    <div class='box'>
      <%= render 'action_items/form', action_item: @action_item %>
    </div>
    <% @action_items.each do |action_item| %>
      <div class='box'>
        <%= action_item.body %>
      </div>
    <% end %>
  </div>

</div>
