<!DOCTYPE html>
<html>
  <head>
    <title>Retrospective</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag('https://use.fontawesome.com/releases/v5.3.1/js/all.js') %>
    <%= yield :scripts %>
  </head>

  <body>
    <div class="column ">
      <p id="notice"><%= notice %></p>
      <p id="alert"><%= alert %></p>
          
      <%= yield %>
    </div>
  </body>
</html>
